[Unit]
Description=Contiki-based building ambience monitoring launcher
After=network.target

[Service]
ExecStart=/home/pi/contiki-3.0/contiki-projects/firefly/argos/launch.sh
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

