# Build directories
obj_native/
obj_zoul/
**/build/

# Secrets
**/data/

# Workspaces
macabilo.code-workspace

#Main-contiki
_setup/

#Gitignore
.gitignore

#Makefiles
exercises/item01/Makefile
exercises/item02/Makefile
exercises/item03/Makefile

